/*****************************通用设置**************************/

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-family: "微软雅黑";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #f5f5f5;
}
body {
    margin: 0;
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

form,
fieldset,
legend,
button,
input,
textarea,

/* form elements 表单元素 */
/*1.清除表格默认样式*/
table{
    border-collapse: collapse;
}
th,
td
/* table elements 表格元素 */

{
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #3d4145;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
    outline: 0;
}

input,
button,
select,
textarea {
    outline: none;
    -webkit-user-select: auto;
}
textarea {
    resize: none;
}
strong,
em,
b,
i,
big,
small {
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}